

div {
border-radius: 25px;
width:600px;
margin: 50px auto;
padding: 40px 75px;
background-color: white;
}

.flight{
    border: 2px solid rgb(38, 114, 228);
    box-shadow: 2px 2px rgb(37, 17, 220);
    text-align: center;
}
.captain{
    border: 2px solid rgb(14, 38, 218);
    box-shadow: 2px 2px rgb(30, 70, 157);
    text-align: center;
}
.occupants{
    border: 2px solid rgb(232, 9, 9);
    box-shadow: 2px 2px rgb(238, 49, 7);
    text-align: center;
}
.trueorfalse{
    border: 2px solid rgb(233, 52, 11);
    box-shadow: 2px 2px rgb(225, 13, 13);
    text-align: center;
}
P, ul{
font-family: "Open Sans", sans-serif;
letter-spacing: 0.5px;
}
h1 {
    color: rgb(139, 148, 177);
    text-align: right;
    letter-spacing: 2px;
    font-size: 40px;
    text-shadow: 2px 2px black;
}
h2 {
    font-variant: small-caps;
}

/*Tutorial Notes*/
.tutorial {
    font-size: 12px
} 

html {
    font-family: 'Courier New', Courier, monospace;
}
