/*STYLE NOTES FOR PB&J ASSIGNMENT*/

/*Use a "Centered-Fixed-Width Content" Layout*/

html {background-color: #680A0A ;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: white;
    padding: 5px 100px;
    margin: 30px;
    width: 600px;
    margin: auto;
}

h1 {
    font-family: 'Dosis', sans-serif;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    
    border-radius: 25px;
    width:850px;
    margin: 50px auto;
    padding: 35px 140px;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.8);
    letter-spacing: 1px;
}





